﻿
.style1
{
    height: 20px;
}

table, th, td
{
    border: 1px double black;
}

    td:hover
    {
        background-color: #f5f5f5;
    }



td
{
    font-size: 14px !important;
}

.W3_Title
{
    color: #666;
    font-weight: bold !important;
    font-size: 20px !important;
    text-decoration: none;
}

.W3_Header
{
    color: #666;
    font-weight: bold !important;
    font-size: 30px !important;
    text-decoration: none;
    text-align: center !important;
}

.W3_Warning
{
    color: #C7310C;
    font-weight: bold !important;
    font-size: 20px !important;
    text-decoration: none;
    text-align: center !important;
}

/*PRINT DIV*/
@media print
{
    .myDivToPrint
    {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}

#scrolly
{
    width: 1000px;
    height: 190px;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
}
