﻿/* DEFAULTS
----------------------------------------------------------*/

body
{
    font-size: .80em; /*font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;*/
    margin: 0px;
    padding: 0px;
    color: #696969;
    background: url("../images/bg.png") repeat scroll 0 0 transparent;
    margin: 0 auto;
    font-size: 82.5%;
}

.divForm
{
    background-color: White;
    width: 100%;
    height :auto;
    left: auto;
    right: auto;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
    vertical-align: middle;
    border: thin solid #000000;
    top: 0px; 
    right: -2px; 
    left: 2px;
}

a:link, a:visited
{
    color: #034af3;
    top: -2147483648px;
    left: 38px;
    height: 9px;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: auto; /*background-color: #fff;*/
    margin: 5px auto 0px auto; /*border: 1px solid #496077;*/
    height: 100%;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px; /*background: #4b6c9e;*/
    width: 100%;
    top: -3px;
    left: 2px;
    height: 107px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.WebHRMain
{
    margin: 0 auto;
    width: 90%;
}

.WebHRBottom
{
    /*background: url("../images/bgBottom.png") repeat-x scroll 0 0 transparent;*/
    height: 150px;
    background-color: #C7310C;
}

.WebHRBottom2
{
    background-color: #262626;
    color: #B9B9B9;
    font-family: Trebuchet MS,Arial;
    font-size: 11px;
    height: 52px;
    padding-top: 10px;
}



/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #FF5900;
    width: 100%;
    background: url("../images/main-bg.png") repeat-x scroll 0 0 transparent;
    height: 41px;
}

div.menu
{
    padding: 7px 0 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    /*background-color: #465c71;     border: 1px #4e667d solid;*/
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    height: 15px;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: black;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: black;
    text-decoration: none;
}

.level2
{
    color: White;
    font-family: Gill Sans MT !important;
    background-color: Gray;
    z-index: 10; /*position: relative;*/
}



/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.autocomplete_completionListElement
{
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: 200px;
    font-family: Tahoma;
    font-size: small;
    text-align: left;
    list-style-type: none;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{
    background-color: Yellow;
    color: black;
    padding: 1px;
}

/* AutoComplete item */
.autocomplete_listItem
{
    background-color: White;
    color: windowtext;
    padding: 1px;
}




/*CONTROLS
-----------------------------------*/
.Buttons_Blue
{
    background: -moz-linear-gradient(center top , #82CFF1 0%, #38AEEA 100%) repeat scroll 0 0 transparent;
    background-color:Blue;
   
    
    border: 1px solid #3CAFCF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3) inset;
    -moz-transition: all 0.1s linear 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Trebuchet MS,Arial;
    font-size: 13px;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 3px 10px 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}


/*PAGE DESIGN
----------------------------*/
.WebHR_Heading1
{
    color: #003366;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 22px;
    font-weight: normal;
}

.WebHR_FieldTitle
{
    color: #7D7D7D;
    float: left;
    font-family: Trebuchet MS,Arial;
    font-size: 12px;
    margin-left: 16px;
    margin-top: 12px;
    width: 180px;
}

.WebHR_FieldValue
{
    color: #000000;
    float: left;
    font-family: Trebuchet MS,Arial;
    font-size: 12px;
    margin-top: 12px;
}

.WebHR_box
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.4);
    margin: 10px 0;
    padding: 15px 20px;
    
}

.WebHR_TextBox
{
    background: url("../images/text-bg.gif") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #B5B8C8;
    padding: 1px 3px;
    margin-bottom: 0px;
}

.WebHR_DropDownList
{
    background: transparent;
   width: 200px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   font-weight:bolder;
   border: 3px double black;

    
/*    background: transparent;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    overflow: hidden;*/
}
.WebHR_BlueBold {
    color: #01609B;
}






/*DASHBOARD
----------------------------------------------------------*/

.WebFont1 {
    color: #333333;
    font-family: 'yanonekaffeesatz-light',Arial,sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 0.2em 0 0.7em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

TD {
    color: #5A5A5A;
    font-family: Trebuchet MS,Arial;
    font-size: 11px;
}

/*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin: 0px !important;
    background-color: White;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: 200px;
    font-family: Tahoma;
    font-size: small;
    text-align: left;
    list-style-type: none;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{
    background-color: #ffff99;
    color: black;
    padding: 1px;
}

/* AutoComplete item */
.autocomplete_listItem
{
    background-color: White;
    color: windowtext;
    padding: 1px;
}

.overflow_inherit
{
    overflow:hidden;
}

.margin_box
{
    margin: 5px 0px 5px 0px;
}

.color_black
{
    color: Black;
}
.main2
{
    font-weight:bold;
}
.grey, .checkTask .textHolder b.grey, .greyDb, .greyIb, .userDtl em.grey, .gry, input.inp.grey {
    color: #BCBCBC;
}

.styled-button-11 {
	background:#FEDA71;
	background:-moz-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEDA71),color-stop(100%,#FEBB49));
	background:-webkit-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background:-o-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background:-ms-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background:linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEDA71',endColorstr='#FEBB49',GradientType=0);
	padding:8px 18px;
	color:#623F1D;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:48px;
	-moz-border-radius:48px;
	-webkit-border-radius:48px;
	border:1px solid #623F1D
}