﻿html .demo-container .redColor {
    color:red;
}
 
/*Wizard wrapper*/
#example .demo-container {
    width: 100%;
    margin: 60px auto 80px;
    padding: 0 80px;
    border: 0;
    background: url(Images/shadow.png) no-repeat 0 bottom;
}
 
.demo-container .wizardHeader {
    width: 100%;
    height: 50px;
    background: url(Images/header.jpg) no-repeat 0 0;
}
 
/*Wizard*/
.demo-container .RadWizard {
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-bottom: 0;
    box-shadow: 0 0 0 1px #fff;
}
 
    .background-black .demo-container .RadWizard,
    .background-blackmetrotouch .demo-container .RadWizard,
    .background-glow .demo-container .RadWizard,
    .background-office2010black .demo-container .RadWizard {
        border: 0;
        box-shadow: 0;
    }
 
    .demo-container .RadWizard_Material .rwzBreadCrumb .rwzText:before {
        display: none;
    }
    .demo-container .RadWizard_Material .rwzBreadCrumb .rwzLink {
        padding-left: 0;
    }
 
 
    .rwzImage {
        background-image: url(Images/bread-crumb-icons.png);
    }
 
    html .RadWizard .rwzBreadCrumb span.rwzImage {
        width: 24px;
        height: 24px;
    }
 
        .demo-container .accountInfo.rwzImage {
            background-position: 0 0;
        }
        .demo-container .rwzSelected .accountInfo.rwzImage {
            background-position: -20px 0;
        }
        .demo-container .rwzDisabled .accountInfo.rwzImage {
            background-position: -45px 0;
        }
 
 
        .demo-container .personalInfo.rwzImage {
            background-position: 0 -20px;
        }
        .demo-container .rwzSelected .personalInfo.rwzImage {
            background-position: -20px  -20px;
        }
        .demo-container .rwzDisabled .personalInfo.rwzImage{
            background-position: -45px  -20px;
        }
 
 
        .demo-container .contactDetails.rwzImage {
            background-position: 0 -45px;
        }
        .demo-container .rwzSelected .contactDetails.rwzImage {
            background-position: -20px -45px;
        }
        .demo-container .rwzDisabled .contactDetails.rwzImage {
            background-position: -45px -45px;
        }
 
 
        .demo-container .confirmation.rwzImage {
            background-position: 0 -80px;
        }
        .demo-container .rwzSelected .confirmation.rwzImage {
            background-position: -20px -80px;
        }
        .demo-container .rwzDisabled .confirmation.rwzImage {
            background-position: -45px -80px;
        }
     .demo-container .Checksheet.rwzImage {
            background-position: 0 -80px;
        }
        .demo-container .rwzSelected .Checksheet.rwzImage {
            background-position: -20px -100px;
        }
        .demo-container .rwzDisabled .Checksheet.rwzImage {
            background-position: -45px -100px;
        }
 
.demo-container .RadWizard .rwzContent {
    overflow: hidden;
    background-color: #f5f5f6;
    line-height: 2em;
    margin: 0 -20px;
    padding: 0 20px;
}
 
    .background-black .demo-container .rwzContent,
    .background-blackmetrotouch .demo-container .rwzContent,
    .background-glow .demo-container .rwzContent,
    .background-office2010black .demo-container .rwzContent {
        background-color: transparent;
        background-color: rgba(255,255,255,0.1);
    }
 
    .background-silver .demo-container .rwzContent {
        background-color: transparent;
        background-color: rgba(255,255,255,0.5);
    }
 
    .background-sunset .demo-container .rwzContent {
        background: #f9f5f0;
    }
 
/*Wizard content*/
.demo-container .inputWapper {
    display: inline-block;
    *display: inline;
   
    position: relative;
    zoom: 1;
}
 
    .demo-container .inputWapper.first {
      margin-left: 5.5cm 
        
    }
    
 
.demo-container .inputWapper label {
    display: block;
    margin: 5px 0 0;
}
 
.demo-container .validator {
    color: #ff0000;
    position: absolute;
    top: 10px;
    right: 0;
}
 
.demo-container .anti-spam-policy {
    margin-top: 40px;
}
 
.demo-container .conditions {
    display: block;
    color: #a7a7a7;
    font-size: 0.857em;
}
.demo-container .inputWapper.date .riLabel {
    position: absolute;
}
 
.demo-container .RadWizard .rwzStep {
    height: 100%;
    position: relative;
}
 
.demo-container .RadWizard.rwzComplete {
    padding-top: 95px; 
}
 
.demo-container .rwzStep p {
    margin: 0;
    padding: 10px 0;
}
 
.demo-container .RadWizard .complete {
    height: auto;
    padding: 75px 0;
    text-align: center;
}
