﻿<%@ page language="C#" autoeventwireup="true" inherits="Pages_FormVariableComparison, App_Web_p2aj4fm0" masterpagefile="~/Site.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
    <link href="../Styles/Site.css" rel="stylesheet" type="text/css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
    <center>
        <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
        <div id="FormDiv" class="divForm" style="padding: 1px; border: thin solid #000000;
            position: relative;" align="center">
        </div>
    </center>
</asp:Content>
