﻿<%@ page language="C#" autoeventwireup="true" inherits="Pages_FormLoginNew, App_Web_050thnq4" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head2" runat="server">
    <link href="../Styles/Site.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
    <style type="text/css">
        .Buttons_Blue
        {
        }
        /*body {
    background-image:url('images/background.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
}*/
        /*.body
{
background:url("G:\VTELEBYTE\PROJECTS\CCPM Original\CCPM\BEHR_CCPM_from_Trupti\Images\sanjeev-group-core-img.jpg");
background-repeat:no-repeat;
}*/
          .Body  
    {  
        margin: 0px;  
        padding: 0px;  
        background-image: url('Images/sanjeev-group-core-img.jpg');   
        background-repeat: repeat;  
    }  
    </style>
    <%--<script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>--%>
</head>
<body  onunload="" ><%--style="background-image: url(~/Images/sanjeev-group-core-img.jpg); width:100%; height:100%;"--%>
    <form id="Form2" runat="server"> <%--style  = "background-image:url(~/Images/sanjeev_background.png); opacity:0.5;"--%> 
         <%--<center>
        <div>
            <asp:Image ID="Image2" ImageUrl="~/Images/sanjeev_background.png" runat="server" Width="100%" Height="300px" />
        </div >
             </center>--%>
        
        <%--<div>
            <img src="sanjeev-group-core-img.jpg" alt="Pulpit Rock" style="width:150px;height:150px">

        </div>--%>
       <%-- <div style="background-image:url(~/Images/sanjeev_background.png)">--%>
        <%--<span style="font-size:100px;">this is my text.</span>--%>
    <%--    <img style="top:0; left:0; float:left; position:absolute;z-index:104;opacity:0.5;filter:alpha(opacity=50);" src="sanjeev_background.png" alt="hi" width="100%" />
    --%>

        <div class="row">
  <div class="col-sm-8">
      <div class="row">
  <div class="col-sm-3"></div>
          <div class="col-sm-8">
              <asp:Label ID="Label5" runat="server" Text="NPD MONITORING SYSTEM" Font-Size="30px"
                        ForeColor="#3366CC" Font-Names="Narkisim" Font-Bold="true"></asp:Label>
          </div>
          <div class="col-sm-1"></div>
      

       
          </div>
      <asp:Image ID="Image2" ImageUrl="~/Images/sanjeev-group-core-img.jpg" runat="server" Width="100%" Height="525px" />
  </div>
  <%--<div class="col-sm-4">.col-sm-4</div>--%>
  <div class="col-sm-4">

    <center>
        <%--<div style="padding-top:20px;"></div>--%>
        <div id="FormDiv" class="divForm" style="padding: 1px; border: thin solid #000000;
            position: relative; width: 100%; height:570px;" align="center">

             
            <asp:Image ID="Image3" ImageUrl="~/Images/index.jpg" runat="server" Width="28%" />
             <asp:Image ID="Image6" ImageUrl="~/Images/sanjeev_background.png" runat="server" Width="100%" Height="49%"/>


           <%--<div style="padding-top:20px;"></div>--%>
            <table style="width: 100%; padding: 2px; border: thin solid #000000; position: relative; padding-top:10px; height:40.9% ">
                <%-- <asp:Image ID="Image1" ImageUrl="~/Images/sanjeev_background.png" runat="server" Width="100%" Height="40%"/>--%>
                <tr>
                    <td align="center" colspan="4">
                        <asp:Label ID="lblUserHeadning" runat="server" CssClass="WebHR_Heading1" Text="Please Login" ForeColor="White"></asp:Label>
                    </td>
                </tr>
                 <tr>
                    <td align="center" colspan="4" >
                        <asp:Label ID="Label8" runat="server" CssClass="WebHR_Heading1" Text="Please Login" ForeColor="White"></asp:Label>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <asp:Label ID="lbltest" runat="server" CssClass="WebHR_Heading1" Font-Bold="True"
                            Font-Size="X-Large" ForeColor="Red" Text="Test Mode On" Visible="False"></asp:Label>
                    </td>
                </tr>
               
                    <tr>
                    <td align="right" width="40%">
                        
                        <asp:Label ID="Label10" runat="server" Font-Bold="True"
                            Font-Size="Large" Text="User name" style="vertical-align:middle"></asp:Label>
                    </td>
                    <td width="2%">
                        &nbsp;
                    </td>
                    <td align="left" width="50%">
                        <asp:TextBox ID="txtUsername" runat="server" CssClass="WebHR_TextBox" Width="90%" OnTextChanged="txtUsername_TextChanged"  TabIndex="1" ></asp:TextBox>
                        &nbsp;<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="*"
                            ForeColor="Red" ControlToValidate="txtUsername"></asp:RequiredFieldValidator>
                    </td>
                    <td class="style2" width="10%">
                        &nbsp;
                    </td>
                </tr>
                


                <tr>
                    <td align="right" width="40%">
                        
                        <asp:Label ID="Label11" runat="server" Font-Bold="True"
                            Font-Size="Large" Text="Password" style="vertical-align:middle"></asp:Label>
                    </td>
                    <td width="2%">
                        &nbsp;
                    </td>
                    <td align="left" width="50%">
                        <asp:TextBox ID="txtPassword" runat="server" CssClass="WebHR_TextBox" TextMode="Password"
                            Width="90%" TabIndex="2"></asp:TextBox>
                        &nbsp;<asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" ErrorMessage="*"
                            ForeColor="Red" ControlToValidate="txtPassword"></asp:RequiredFieldValidator>
                    </td>
                    <td class="style2" width="10%">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="right" width="40%">
                        &nbsp;
                    </td>
                    <td width="2%">
                        &nbsp;
                    </td>
                    <td width="20%">
                        &nbsp;
                        <asp:HyperLink ID="HyperLink3" runat="server" Font-Size="Small" ForeColor="#65bcff" NavigateUrl="~/Pages/FrmForgotPassword.aspx" Text="Forgot Password??">
                                                </asp:HyperLink>
                    </td>
                    <td width="10%">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="right" width="40%">
                        &nbsp;
                    </td>
                    <td align="right" width="2%">
                        &nbsp;
                    </td>
                    <td align="left" width="50%">
                        &nbsp;
                        <asp:Button ID="btnLogin" runat="server" CssClass="Buttons_Blue" OnClick="btnSave_Click1"
                            Text="Login" Width="50%" TabIndex="2" />
                    </td>
                   
                </tr>
                <tr>
                    <td align="center" colspan="4" >
                        <asp:Label ID="Label12" runat="server"  Text="Please Login" ForeColor="White"></asp:Label>
                    </td>
                </tr>
<%--                 <tr>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                                                <td align="center">
                                                    <asp:HyperLink ID="HyperLink3" runat="server" Font-Size="Small" ForeColor="#65bcff" NavigateUrl="~/lib/dist/FrmForgotPassword.aspx" Text="Forgot Password??">
                                                </asp:HyperLink>
                                                </td>
                                            </tr>--%>

               <%-- <tr>
                    <td align="right" width="40%">
                        &nbsp;
                    </td>
                    <td align="right" width="2%">
                        &nbsp;
                    </td>
                    <td align="left" width="50%" style="visibility:hidden">
                        <a href="CCPM_Demo.html" style="font-size: medium">Video Tutorial</a>
                        <br />
                        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="http://get.adobe.com/flashplayer/">Download Flash Player</asp:HyperLink>
                    </td>
                    <td width="10%">
                        &nbsp;
                    </td>
                </tr>--%>
                <tr>
                    <td colspan="4">
                        <asp:Label ID="lblMessage" runat="server" ForeColor="Red"></asp:Label>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="left">
                        <asp:Label ID="RTC" runat="server" Text="Build ID  :  "></asp:Label>
                        <asp:Label ID="Id" runat="server" Text="Id"></asp:Label>
                    </td>
                </tr>
            </table>
           
        </div>
        
        <telerik:RadWindowManager runat="server" ID="RadWindowManager1" Modal="true">
        </telerik:RadWindowManager>
        <telerik:RadScriptManager ID="RadScriptManager2" runat="server">
        </telerik:RadScriptManager>
    </center>
            
      </div>
</div>
</div>
            
    </form>
</body>
</html>











