﻿<%@ master language="C#" autoeventwireup="true" inherits="SiteMaster, App_Web_l4oj03qz" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</script>
<head runat="server">
    <title>SANJEEV</title>
    <link href="~/Styles/Site.css" rel="stylesheet" runat="server" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/sanjeev_logo_48X48.ico" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="position: relative" onload="noBack();" onpageshow="if (event.persisted) noBack();"
    onunload="">
    <form runat="server">

        <div class="page">
            <div class="header">
                <div class="title" style="margin-left: 10px">
                    <div>
                        <%--<a href="Default.aspx" style="color: #C7310C; font-family: Narkisim; font-size: xx-large;">
                        SANJEEV</a>--%>
                        <%--<asp:Image ID="Image1" ImageUrl="~/Images/index.jpg" runat="server" Height="40px" width="130px"/>--%>
                        <%--<a href="Default.aspx">--%>
                        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Default.aspx">
                            <%-- vikram visible mode --%>
                            <asp:Image ID="Image1" ImageUrl="~/Images/Audit.jpe" runat="server" Height="50px" />
                            <%-- End --%>
                        </asp:HyperLink>
                        <%--</a>--%>
                    </div>
                    <div>
                        <asp:Label ID="Label1" runat="server" Text="Audit Management Sytem" Font-Size="20px"
                            ForeColor="#3366CC" Font-Names="Narkisim" Font-Bold="true"></asp:Label>
                    </div>
                </div>

                <div style="margin: 10px">
                    <asp:Image ID="Image2" ImageUrl="~/Images/index.jpg" runat="server" Height="50px" ImageAlign="Right" />
                </div>

                <div style="font-family: Narkisim; font-size: xx-large; text-align: center; margin-top: 10px; width: 1000px">
                    <%-- vikram visible mode --%>
                    <asp:Label ID="lblAudit" runat="server" Text="Audit No:" ForeColor="Black" Font-Size="30pt"></asp:Label>
                    <asp:Label ID="lblProjectNo" Visible="true" runat="server" Text="-" ForeColor="Black" Font-Size="30pt"></asp:Label>
                    <%-- END --%>
                </div>

                <%--<div class="title" style="position: relative; text-align:start; margin: 10px">--%>

                <%--</div>--%>

                <div class="loginDisplay" style="position: relative; text-align: right; margin-top: 1px;">
                    &nbsp;<asp:Label ID="Label2" runat="server" Text=" Welcome " Font-Size="12px" ForeColor="Black"></asp:Label>
                    <asp:Label ID="lblUserName" runat="server" Text="Current User" ForeColor="#C7310C"
                        CssClass="WebHR_BlueBold" Font-Bold="True"></asp:Label><%--<br />
                    <asp:Label ID="Label3" runat="server" Text="Role: " Font-Size="12px" ForeColor="Black"></asp:Label>--%>
                    <asp:Label ID="lblRole" runat="server" Text="Current Role" ForeColor="#C7310C"
                        CssClass="WebHR_BlueBold" Font-Bold="True"></asp:Label>
                </div>

              <%--  <div class="menu_nav">
                    <ul>
                        <li><a href="Pages/Dashboard.aspx">Home</a></li>
                        <li><a href="#">Asach</a></li>
                        <li><a href="#">Kai Pan</a></li>
                    </ul>
                </div>--%>

                <div class="clear hideSkiplink">
                    <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu"  EnableViewState="false"
                        IncludeStyleBlock="false"  Orientation="Horizontal" Height="100px"
                        OnMenuItemClick="NavigationMenu_MenuItemClick" >
                        <%--<StaticSelectedStyle BackColor="LightBlue" BorderStyle="Solid" BorderColor="Black"
    BorderWidth="1px" />
                    <StaticMenuItemStyle BorderColor="Red" />--%>
                        <Items>
                            <asp:MenuItem NavigateUrl="~/Pages/Dashboard.aspx" Text="Home"></asp:MenuItem>
                            <asp:MenuItem Text="Masters" Value="Masters">
                                <%--<asp:MenuItem NavigateUrl="~/Pages/MasterAudit.aspx" Text="Audit" Value="MasterAudit"></asp:MenuItem>--%>
                                    <asp:MenuItem NavigateUrl="~/Pages/MasterAuditorList.aspx" Text="Auditor List" Value="AuditorList"></asp:MenuItem>
                                <%--<asp:MenuItem NavigateUrl="~/Pages/MasterCustomerAudit.aspx" Text="Customer" Value="Customer"></asp:MenuItem>--%>
                                <asp:MenuItem NavigateUrl="~/Pages/MasterCheckListAudit.aspx" Text="Check Sheet" Value="CheckSheet"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/MasterUserDetailsAudit.aspx" Text="User Details" Value="UserDetails"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/MasterDeptEdit.aspx" Text="Department" Value="DeptMaster"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/MasterRoleEdit.aspx" Text="Role" Value="RoleMaster"></asp:MenuItem>
                                  <asp:MenuItem NavigateUrl="~/Pages/MasterMR.aspx" Text="MR" Value="MR"></asp:MenuItem>
                                <%--<asp:MenuItem NavigateUrl="~/Pages/MasterHolidayEdit.aspx" Text="Holiday" Value="Holiday"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/MasterHolidayCSVUpload.aspx" Text="Holiday CSV Upload" Value="Holiday CSV Upload"></asp:MenuItem>--%>
                                <asp:MenuItem NavigateUrl="~/Pages/FormSMTPSettings.aspx" Text="SMTP Settings" Value="SMTPSettings"></asp:MenuItem>
                                
                                
                                
                                <%-- <asp:MenuItem NavigateUrl="~/Pages/MasterRoleEdit.aspx" Text="Role" Value="Role">
                            </asp:MenuItem>
                            
                            <asp:MenuItem NavigateUrl="~/Pages/MasterTemplateEdit.aspx" Text="Work Flow" Value="Template">
                            </asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/Pages/MasterProjectEdit.aspx" Text="Project" Value="Project">
                            </asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/Pages/MasterDocumentEdit.aspx" Text="Template Upload" Value="Document">
                            </asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/Pages/MasterDocumentDownloadEdit.aspx" Text="Template Download" Value="Document">
                            </asp:MenuItem>--%>
                            </asp:MenuItem>
                            <%--  <asp:MenuItem Text="Project Module" Value="Project Module">
                                <asp:MenuItem NavigateUrl="~/Pages/MasterRoleToProject.aspx"
                                    Text="Assign Roles to Project" Value="Assign Roles to Project"></asp:MenuItem>

                            </asp:MenuItem>
                            <asp:MenuItem Text="Admin Module" Value="Admin Module">
                                <asp:MenuItem NavigateUrl="~/Pages/FormSMTPSettings.aspx" Text="SMTP Settings"
                                    Value="SMTPSettings"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/UserView.aspx" Text="Manage User"
                                    Value="ManageUser"></asp:MenuItem>

                                <asp:MenuItem NavigateUrl="~/Pages/FormEmailEscalationSettings.aspx"
                                    Text="Email Escalation Settings" Value="Email Escalation Settings"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/MasterProject.aspx" Text="Add Project"
                                    Value="Add Project"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/FormTestEmail.aspx" Text="Test Email"
                                    Value="Test Email"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/FormBCCEmail.aspx" Text="Add Email BCC"
                                    Value="Add Email BCC"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/MasterHolidayCSVUpload.aspx" Text="Holiday CSV Upload"
                                    Value="Holiday CSV Upload"></asp:MenuItem>
                            </asp:MenuItem>

                            <asp:MenuItem Text="Reports" Value="Reports">
                                <asp:MenuItem NavigateUrl="~/Pages/FormProjectOverviewReport.aspx" Text="Project Status Wise Report"
                                    Value="ProjectOverviewReport"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/FormProjectOverviewReport_CurrentStage.aspx" Text="Project Stage Wise Report"
                                    Value="FormProjectOverviewReport_CurrentStage"></asp:MenuItem>

                                <asp:MenuItem NavigateUrl="~/Pages/FormProjectDelayedReport.aspx" Text="Project Delayed Report"
                                    Value="FormProjectDelayedReport"></asp:MenuItem>


                                <asp:MenuItem NavigateUrl="~/Pages/FormProjectEmailLogReport.aspx" Text="Email Log Report"
                                    Value="FormProjectEmailLogReport"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/FormProjectEmailErrorLogReport.aspx" Text="Email Error Log Report"
                                    Value="FormProjectEmailErrorLogReport"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/FormUserLoginLogReport.aspx" Text="Users Login Log Report"
                                    Value="FormUserLoginLogReport"></asp:MenuItem>

                            </asp:MenuItem>

                            <asp:MenuItem Text="Project Specific Reports" Value="Project Specific Reports">
                                <asp:MenuItem NavigateUrl="~/Pages/FormActivityReport.aspx" Text="Activity Report"
                                    Value="ActivityReport"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/FormDelayedActivityReport.aspx" Text="Delayed Activity Report"
                                    Value="FormDelayedActivityReport"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/FormProjetTeamsReport.aspx" Text="Projet Team Report"
                                    Value="FormProjetTeamsReport"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Pages/FormDocumentDateLogReportNew.aspx" Text="Document Date Log Report"
                                    Value="FormDocumentDateLogReportNew"></asp:MenuItem>
                            </asp:MenuItem>--%>

                            <%--<asp:MenuItem NavigateUrl="~/Pages/LogOut.aspx" Text="Create Audit"></asp:MenuItem>--%>
                            
                             <asp:MenuItem NavigateUrl="~/Pages/FormAuditScedule.aspx" Text="Audit Schedule Plan" Value="Audit Schedule Plan"></asp:MenuItem>
                             <asp:MenuItem NavigateUrl="~/Pages/FormNewAuditPlanCreation.aspx" Text="Audit Create Plan" Value="Audit Create Plan"></asp:MenuItem>
                            <%--<asp:MenuItem NavigateUrl="~/Pages/FormCheckSheetTransaction.aspx" Text="Check Sheet Transaction" Value="Check Sheet Transaction"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/Pages/FormNC_AuditorEdit.aspx" Text="Generate NC" Value="Generate NC"></asp:MenuItem>
 
                             <asp:MenuItem NavigateUrl="~/Pages/CARListAuditSpecific.aspx" Text="CAR List Audit Specific" Value="CAR List Audit Specific"></asp:MenuItem>--%>

                               <%-- <asp:MenuItem Text="Reports" Value="Reports">
                                <asp:MenuItem NavigateUrl="~/Pages/FormNC_Filter_Selection.aspx" Text="NC Report"
                                    Value="CARREPORT"></asp:MenuItem>

                                 <asp:MenuItem NavigateUrl="~/Pages/FormCAR_Filter_Selection.aspx" Text="CAR Report"
                                    Value="CARREPORT"></asp:MenuItem>     

                                    <asp:MenuItem NavigateUrl="~/Pages/FormNC_PendingReport.aspx" Text="CAR Pending For NC's Report"
                         
                                        
                                                   Value="CAR_NC's_PENDING"></asp:MenuItem>       
                                  

                                  
                                    
                                    <asp:MenuItem NavigateUrl="~/Pages/DepartmentWiseSummaryReport.aspx" Text="Department Wise Summary Report"
                                    Value="DepartmentWiseSummaryReport"></asp:MenuItem>     
                                     
                                    <asp:MenuItem NavigateUrl="~/Pages/CAR_CompletedReport.aspx" Text="CAR Completed Report"
                                    Value="CAR_CompletedReport"></asp:MenuItem>   
                                    
                                      <asp:MenuItem NavigateUrl="~/Pages/CAR_RejectedLog.aspx" Text="CAR Rejected Log Report"
                                    Value="CAR_CompletedReport"></asp:MenuItem>     
                                  
                                                                           

                            </asp:MenuItem>--%>

                            <asp:MenuItem NavigateUrl="~/Pages/LogOut.aspx" Text="Logout"></asp:MenuItem>
                            
                        </Items>
                    </asp:Menu>
                </div>
            </div>
            <div class="main">
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div class="clear">
            </div>
        </div>

        <div align="center" class="WebHRBottom2">
            <%--<a onclick="jsOpenWindow('../../termsconditions.php',600,500);" href="#noanchor">Terms
            &amp; Conditions</a>&nbsp;|&nbsp; <a onclick="jsOpenWindow('../../privacy.php',600,500);"
                href="#noanchor">Privacy Policy</a>&nbsp;|&nbsp; <a href="../help/?page=ContactUs">Contact
                    Us</a>
        <br>--%>
            <br>
            &copy;&nbsp;2017 - SANJEEV - Developed by <a target="_blank" href="http://www.vtelebyte.com">Vtelebyte</a>
        </div>
    </form>
</body>
</html>
